<div id="<%= dom_id shop %>">
  <p>
    <strong>Name:</strong>
    <%= shop.name %>
  </p>

  <p>
    <strong>Shopname:</strong>
    <%= shop.ShopName %>
  </p>

  <p>
    <strong>Openingtime:</strong>
    <%= shop.OpeningTime %>
  </p>

  <p>
    <strong>Closingtime:</strong>
    <%= shop.ClosingTime %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= shop.Status %>
  </p>

</div>
