<!DOCTYPE html>
<html>
<head>
<title>Food Center</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://i.pinimg.com/736x/49/1a/92/491a924f10d7988a9ab2d3ff4f7121c8.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  
}

</style>
</head>
<body>


<div class="bgimg w3-display-container w3-animate-opacity w3-text-dark font-weight-bold">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
   <P></p>
  </div>
  
  
  <div class="w3-display-middle">
  
    <div id="shops">
      <% @shops.each do |shop| %>
      <% if shop.user == current_user%>
        <%= render shop %>
        <p>
          <%= link_to "Edit Details", shop, class: "text-white text-decoration-none btn btn-secondary" %>
        </p>
        
      <% end %>
      <%end%>
      <hr class="w3-border-grey" style="margin:auto;width:40%"><br/>
      <p class="w3-large w3-center w3-animate-top"><%= link_to "Add New Shop", new_shop_path, class: "text-white text-decoration-none btn btn-secondary" %></p>
    <p class="w3-large w3-center w3-animate-top"><%= link_to "my food section", foods_path, class: "text-white text-decoration-none btn btn-secondary" %></p>
    </div>
    
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    <%= link_to " log out", destroy_user_session_path, method: :delete , class: "nav-item m-3 text-white text-decoration-none btn btn-danger"%>
  </div>
</div>

</body>
</html>


